<section class="todoapp">
  <header class="header">
    <h1>{{ title }}</h1>
    <input class="new-todo" placeholder="What needs to be done?" autofocus #newTodo (keyup.enter)="addNewTodo(newTodo.value); newTodo.value='';">
  </header>
  <section class="main">
    <input class="toggle-all" type="checkbox">
    <label for="toggle-all">Mark all as complete</label>
    <!--<ul class="todo-list"  *ngFor="let item of todoItems">
      <todo-item [item]="item"
                (removeItem)="removeItem($event)"
                (changeLabel)="changeLabel($event)"
                (itemCompleted)="itemCompleted($event)"></todo-item>
    </ul>-->
  </section>
  <footer class="footer">
    <span class="todo-count">
      <!--<strong>{{ todoItems | countBy : 'completed' : false }}</strong> Items left-->
    </span>
    <!--<button class="clear-completed" (click)="clearCompleted()">Clear completed</button>-->
  </footer>
</section>
