<li [class.editing]="item.editing">
  <div class="view">
    <input type="checkbox"
            class="toggle"
            [checked]="item.completed"
            (change)="onCompleted()">
    <label [class.completed]="item.completed"
            (click)="item.editing = true">{{ item.label }}</label>
    <button class="destroy" (click)="onDestroy()"></button>
  </div>
  <input class="edit" #editTodo
        [value]="item.label"
        [focus-blur]="item.editing"
        (keyup.enter)="updateLabel(editTodo.value)"
        (blur)="item.editing = false"
        (keyup.escape)="item.editing = false">
</li>
